<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLA MMO Checker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script>
	$(document).ready(function(e){
		console.log("ready!")

		function get_json_data(id, parent_id) {
			console.log(id.substr(0, 1).toUpperCase() + id.substr(1))
			var html_code = '';
			$.getJSON('static/resources/seedhashes.json', function(data) {
				console.log(id)
				//html_code += '<option value="">ポケモンを選択</option>';
				$.each(data, function(key, value) {
					if (value.parent_id == parent_id) {
						html_code += '<option value="' + value.hash + '">' + value.species + '</option>';
					}
				});
				$('#' + id).html(html_code);
                var item = $("#"+id).children().sort(function(a,b){
                    //textでソート
                    var sortA= a.text;
                    var sortB = b.text;

                    if (sortA > sortB) {
                        return 1;
                    } else if (sortA < sortB) {
                        return -1;
                    } else {
                        return 0;
                    }
                });
                $("#"+id).append(item);
                $("#"+id).prepend($('<option>').html("ポケモンを選択").val(""));
                $("#"+id).val("");
			});
		}
		get_json_data('frpokemon',0);
        $("#frpokemon").prepend($('<option>').html("ポケモンを選択").val(""));
		console.log("finished frpokemon")

		$(document).on('change', '#frpokemon', function() {
			var brand_id = $(this).val();
			if (brand_id != '') {
				get_json_data('brpokemon', brand_id);
			} else {
				$('#brpokemon').html('<option value="">ポケモンを選択</option>');
			}
		});
	});
	</script>
</head>

<body>

    <header>
        <h1 class="pla-heading"><span class="pla-heading-highlight">PLA</span> MMO Checker</h1>
    </header>
    <main>
        <section class="pla-section-options">
            <div class="pla-control">
                <label for="inputseed">シード値:</label>
                <input type="text" id="inputseed">
            </div>

            <div class="pla-control">
                <label for="rolls">色違いの確率</label>
                <select id="rolls">
                    <option value="13">デフォルト</option>
                    <option value="14">図鑑レベル10</option>
                    <option value="16">図鑑完璧</option>
                    <option value="17">光るお守り</option>
                    <option value="19">光るお守り + 図鑑完璧</option>
                </select>
            </div>
			
			<div class="pla-control">
				<label for="frspawns">最初の群れの個体数</label>
				<select id="frspawns">
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>
			
			<div class="pla-control">
				<label for="bonus">後続有り</label>
				<input type="checkbox" id="bonus">
			</div>
			
			<div class="pla-control">
				<label for="brspawns">後続の群れの個体数</label>
				<select id="brspawns">
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
			</div>
			
			<!--<div class="pla-control">
				<label for="frencounter">First Round Encounter Hash:</label>
				<input type="text" id="frencounter">
			</div>
			
			<div class="pla-control">
				<label for="brencounter">Bound Round Encounter Hash:</label>
				<input type="text" id="brencounter">
			</div>-->
			
			<div class="pla-control">
				<label for="frpokemon">最初の群れのポケモン:</label>
				<select name="frpokemon" id="frpokemon" class="form-control">
					<option value="">ポケモンを選択</option>
				</select>
			</div>
			
			<div class="pla-control">
				<label for="brpokemon">後続の群れのポケモン:</label>
				<select name="brpokemon" id="brpokemon" class="form-control">
					<option value="">ポケモンを選択</option>
				</select>
			</div>

            <div class="pla-control-checkbox">
                <label for="mmoShinyFilter">色違いと親分を表示</label>
                <input type="checkbox" id="mmoShinyOrAlphaFilter">
            </div>

            <div class="pla-control-checkbox">
                <label for="mmoShinyFilter">色違いのみ表示</label>
                <input type="checkbox" id="mmoShinyFilter">
            </div>

            <div class="pla-control-checkbox">
                <label for="mmoAlphaFilter">親分のみ表示</label>
                <input type="checkbox" id="mmoAlphaFilter">
            </div>
			
			<div class="pla-control-checkbox">
                <label for="mmoDefaultRouteFilter">逃げるポケモン<br>（複数匹の戦闘が不可能）</label>
                <input type="checkbox" id="mmoDefaultRouteFilter">
            </div>

			<!--
			<div class="pla-control-checkbox">
                <label for="inmapcheck">In Area: (Not Currently Functional)</label>
                <input type="checkbox" id="inmapcheck">
            </div>-->
			

            <div class="pla-control-actions">
                <button class="pla-action-button" onclick="checkmmos()">検索</button>
            </div>
			
        </section>
		

        <section class="pla-section-results">
            <div class="pla-results" data-pla-results>
                このツールはCappyによって制作されました。 コード制作等に、Anubis, Kurt, Lincoln, Zyro, Santacrab420の手助けを受けました。<br>
                日本語化はJoey(@iam_joey)が担当しました。
            </div>
        </section>
		
    </main>

    <template data-pla-results-template>
        <div class="pla-results-item" data-pla-results-template>
            <ul class="pla-results-heading pla-results-ul">
				<li class="pla-results-sprite" data-pla-results-sprite></li>
                <li class="pla-results-species" data-pla-results-species></li>
                <li>At <span class="pla-results-mapname" data-pla-results-mapname></span></li>
            </ul>

            <ul class="pla-results-ul">
                <li><span class="pla-results-label">色違い:</span> <span data-pla-results-shiny></span></li>
                <li><span class="pla-results-label">親分:</span> <span data-pla-results-alpha></span></li>
            </ul>

			<ul class="pla-results-ul">
                <li><span class="pla-results-label">Group:</span> <span data-pla-results-group></span></li>
				<li><span class="pla-results-label">Number of Round Spawns: </span><span data-pla-results-numspawns></span></li>
            </ul>
			<ul class="pla-results-ul">
				<li><span class="pla-results-label"><span data-pla-results-location></span></span></li>
			</ul>
            <ul class="pla-results-ul">
                <li><span class="pla-results-label">性格:</span> <span data-pla-results-nature></span></li>
                <li><span class="pla-results-label">性別:</span> <span data-pla-results-gender></span></li>
            </ul>

            <ul class="pla-results-ul">
                <li><span class="pla-results-label">シード値:</span> <span data-pla-results-seed></span></li>
                <li><span class="pla-results-label">EC:</span> <span data-pla-results-ec></span></li>
                <li><span class="pla-results-label">PID:</span> <span data-pla-results-pid></span></li>
            </ul>

            <div class="pla-results-ivs-container">
                <span class="pla-results-label">個体値:</span>
                <ul class="pla-results-ivs">
                    <li class="pla-results-ivs-hp" data-pla-results-ivs-hp></li>
                    <li class="pla-results-ivs-att" data-pla-results-ivs-att></li>
                    <li class="pla-results-ivs-def" data-pla-results-ivs-def></li>
                    <li class="pla-results-ivs-spa" data-pla-results-ivs-spa></li>
                    <li class="pla-results-ivs-spd" data-pla-results-ivs-spd></li>
                    <li class="pla-results-ivs-spe" data-pla-results-ivs-spe></li>
                </ul>
            </div>
			
			<div class="pla-results-teleport">
			</div>
        </div>
    </template>

    <template data-pla-spinner>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </template>

    <script src="static/js/pla-mmo-seed-reader.js"></script>
</body>

</html>